---
title: Post One
date: "2023-1-12"
---

<script>
 let a = 0;
</script>

Jag har ändrat färgen på bordern för komponent class upgrades. Jag ändrade i klass worker och upgrade. 

<button on:click={()=>{a = a + 1}}>CLICK ME</button>
